extends layout

block content

  h1 Participant: #{participant.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Participant
    
    dl
    each participant in participant_list
      dt 
        a(href=schedule.url) #{participant.name}
      dd #{participant.address}

    else
      p This participant has no schedules.