extends layout

block content

  h1 Participant: #{participant.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Participant
    
    dl
    each highschool in participant_highschools
      dt 
        a(href=highschool.url) #{highschool.name}
      dd #{participant.address}

    else
      p This participant has no schedules.